USE [master]
GO
/****** Object:  Database [DB_Bilgi_Hotel]    Script Date: 18.11.2022 19:02:26 ******/
CREATE DATABASE [DB_Bilgi_Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Bilgi_Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Bilgi_Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Bilgi_Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Bilgi_Hotel_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Bilgi_Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Bilgi_Hotel]
GO
/****** Object:  Table [dbo].[tbl_Cinsiyet]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cinsiyet](
	[CinsiyetId] [int] IDENTITY(1,1) NOT NULL,
	[CinsiyetAd] [nvarchar](20) NOT NULL,
	[CinsiyetAciklama] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CinsiyetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Diller]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Diller](
	[DilId] [int] IDENTITY(1,1) NOT NULL,
	[DilAd] [nvarchar](150) NOT NULL,
	[DilAciklama] [nvarchar](400) NULL,
	[DilKod] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK__tbl_Dill__F01A3CDEA53A5987] PRIMARY KEY CLUSTERED 
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DurumKategori]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DurumKategori](
	[DurumKategoriId] [int] NOT NULL,
	[DurumKategoriAd] [nvarchar](150) NOT NULL,
	[DurumKategoriAciklama] [nvarchar](400) NULL,
 CONSTRAINT [PK_tbl_DurumKategori] PRIMARY KEY CLUSTERED 
(
	[DurumKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gorevler]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gorevler](
	[GorevId] [int] IDENTITY(1,1) NOT NULL,
	[GorevAd] [nvarchar](150) NOT NULL,
	[GorevAciklama] [nvarchar](400) NULL,
	[GorevIsTanimi] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GorevId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Il]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Il](
	[IlId] [int] IDENTITY(1,1) NOT NULL,
	[IlAd] [nvarchar](50) NOT NULL,
	[IlAciklama] [nvarchar](150) NULL,
	[UlkeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Ilce]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ilce](
	[IlceId] [int] IDENTITY(1,1) NOT NULL,
	[IlceAd] [nvarchar](50) NOT NULL,
	[IlceAciklama] [nvarchar](150) NULL,
	[IlId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IlceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kampanyalar]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kampanyalar](
	[KampanyaId] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaBilgileri] [nvarchar](400) NOT NULL,
	[KampanyaIndirimOran] [int] NOT NULL,
	[KampanyaBaslangicZaman] [datetime] NOT NULL,
	[KampanyaBitisTarihi] [datetime] NOT NULL,
	[KampanyaTanim] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KampanyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KampanyaOda]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KampanyaOda](
	[KampanyaId] [int] NOT NULL,
	[OdaId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_KampanyaOda] PRIMARY KEY CLUSTERED 
(
	[KampanyaId] ASC,
	[OdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KartBilgileri]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KartBilgileri](
	[KartId] [int] IDENTITY(1,1) NOT NULL,
	[OdaId] [int] NOT NULL,
	[KartAktifMi] [bit] NOT NULL,
	[PersonelId] [int] NOT NULL,
	[MisafirId] [int] NOT NULL,
	[KartVerilisTarihi] [datetime] NOT NULL,
	[KartAlisTarihi] [datetime] NULL,
	[KartIslemAciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[KartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KonaklamaTipi]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KonaklamaTipi](
	[KonaklamaTipNo] [int] IDENTITY(1,1) NOT NULL,
	[KonaklamaTipAd] [nvarchar](150) NOT NULL,
	[KonaklamaTipAciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[KonaklamaTipNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kullanici]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kullanici](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciTipiId] [int] NOT NULL,
	[KullaniciAd] [nvarchar](150) NOT NULL,
	[KullaniciParola] [nvarchar](50) NOT NULL,
	[KullaniciEposta] [nvarchar](250) NULL,
	[KullaniciEpostaOnayKod] [nvarchar](250) NULL,
	[KullaniciEpostaOnay] [bit] NULL,
	[KullaniciKayıtTarihi] [datetime] NULL,
	[KullaniciSonGirisTarihi] [datetime] NULL,
	[DilId] [int] NULL,
	[ResimId] [int] NULL,
 CONSTRAINT [PK__tbl_Kull__E011F77BE16D5B8D] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KullaniciMusteri]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KullaniciMusteri](
	[KullaniciId] [int] NOT NULL,
	[MusteriId] [int] NOT NULL,
	[YetkiId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_KullaniciMusteri] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC,
	[MusteriId] ASC,
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KullaniciPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KullaniciPersonel](
	[PersonelId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[YetkiId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_KullaniciPersonel] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC,
	[KullaniciId] ASC,
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KullaniciTipi]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KullaniciTipi](
	[KullaniciTipiId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciTipiTanim] [nvarchar](150) NOT NULL,
	[KullaniciTipiAciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciTipiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MesaiPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MesaiPersonel](
	[MesaiId] [int] IDENTITY(1,1) NOT NULL,
	[MesaiBaslangicTarihi] [datetime] NOT NULL,
	[MesaiBitisTarihi] [datetime] NULL,
	[PersonelId] [int] NOT NULL,
	[MesaiSaatFark] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MesaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Misafir]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Misafir](
	[MisafirId] [int] IDENTITY(1,1) NOT NULL,
	[MisafirAd] [nvarchar](150) NOT NULL,
	[MisafirSoyad] [nvarchar](150) NOT NULL,
	[MisafirTcKimlik] [nvarchar](20) NOT NULL,
	[MisafirDogumTarihi] [datetime] NOT NULL,
	[MisafirUyrukId] [int] NOT NULL,
	[MisafirEposta] [nvarchar](250) NULL,
	[MisafirTelefon] [nvarchar](20) NOT NULL,
	[MisafirPasaportNo] [nvarchar](20) NULL,
	[CinsiyetId] [int] NOT NULL,
	[MisafirAdres] [nvarchar](400) NULL,
	[IlId] [int] NOT NULL,
	[IlceId] [int] NOT NULL,
	[UlkeId] [int] NOT NULL,
	[MisafirAciklama] [nvarchar](400) NULL,
	[MisafirHesKod] [nvarchar](20) NOT NULL,
	[dilId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MisafirId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MisafirOda]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MisafirOda](
	[MisafirId] [int] NOT NULL,
	[OdaId] [int] NOT NULL,
	[SatisId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MisafirOda] PRIMARY KEY CLUSTERED 
(
	[MisafirId] ASC,
	[OdaId] ASC,
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MisafirPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MisafirPersonel](
	[MisafirId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MisafirPersonel] PRIMARY KEY CLUSTERED 
(
	[MisafirId] ASC,
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Musteriler]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](150) NULL,
	[MusteriSoyad] [nvarchar](150) NULL,
	[MusteriTCKimlik] [nvarchar](20) NULL,
	[MusteriPasaportNo] [nvarchar](20) NULL,
	[MusteriUnvan] [nvarchar](150) NULL,
	[MusteriYetkiliAdSoyad] [nvarchar](150) NULL,
	[MusteriVergiNo] [nvarchar](20) NULL,
	[MusteriVergiDairesi] [nvarchar](50) NULL,
	[MusteriTelefon] [nvarchar](20) NULL,
	[MusteriPosta] [nvarchar](250) NULL,
	[MusteriAdres] [nvarchar](400) NULL,
	[IlID] [int] NULL,
	[IlceID] [int] NULL,
	[UlkeID] [int] NULL,
	[MusteriAciklama] [nvarchar](400) NULL,
	[MusteriKurumsalOK] [bit] NULL,
	[DilID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MusteriMisafirsatis]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MusteriMisafirsatis](
	[MusteriId] [int] NOT NULL,
	[MisafirId] [int] NOT NULL,
	[SatisId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MusteriMisafirsatis] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC,
	[MisafirId] ASC,
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MusteriPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MusteriPersonel](
	[MusteriId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MusteriPersonel] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC,
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MusteriRezervasyon]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MusteriRezervasyon](
	[MusteriId] [int] NOT NULL,
	[RezervasyonId] [int] NOT NULL,
	[MisafirId] [int] NOT NULL,
	[OdaId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MusteriRezervasyon] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC,
	[RezervasyonId] ASC,
	[MisafirId] ASC,
	[OdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OdaDurum]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OdaDurum](
	[OdaId] [int] NOT NULL,
	[DurumKategoriId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_OdaDurum] PRIMARY KEY CLUSTERED 
(
	[OdaId] ASC,
	[DurumKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Odalar]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Odalar](
	[OdaId] [int] IDENTITY(1,1) NOT NULL,
	[OdaTipiId] [int] NOT NULL,
	[OdaFiyat] [decimal](8, 2) NOT NULL,
	[OdaYatakTipi] [nvarchar](50) NOT NULL,
	[OdaMiniBarOk] [bit] NOT NULL,
	[OdaKlimaOk] [bit] NOT NULL,
	[OdaKurutmaOk] [bit] NOT NULL,
	[OdaWifiOk] [bit] NOT NULL,
	[OdaKasaOk] [bit] NOT NULL,
	[OdaBalkonOk] [bit] NOT NULL,
	[OdaTvOk] [bit] NOT NULL,
	[OdaAciklama] [nvarchar](400) NOT NULL,
	[OdaEbatBoyut] [nvarchar](20) NOT NULL,
	[OdaNo] [nvarchar](10) NOT NULL,
	[OdaKat] [int] NOT NULL,
 CONSTRAINT [PK__tbl_Odal__190B1E6920F478DA] PRIMARY KEY CLUSTERED 
(
	[OdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OdaResimler]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OdaResimler](
	[OdaId] [int] NOT NULL,
	[ResimId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_OdaResimler] PRIMARY KEY CLUSTERED 
(
	[OdaId] ASC,
	[ResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OdaSatisTip]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OdaSatisTip](
	[OdaSatisTip] [int] IDENTITY(1,1) NOT NULL,
	[OdaSatisTipAd] [nvarchar](150) NOT NULL,
	[OdaSatisTipAciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdaSatisTip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OdaTipi]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OdaTipi](
	[OdaTipiId] [int] IDENTITY(1,1) NOT NULL,
	[OdaTipiAd] [nvarchar](150) NOT NULL,
	[OdaTipiAciklama] [nvarchar](400) NULL,
 CONSTRAINT [PK__tbl_OdaT__5B3C4536DB8B25EE] PRIMARY KEY CLUSTERED 
(
	[OdaTipiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Personel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Personel](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [nvarchar](150) NOT NULL,
	[PersonelSoyad] [nvarchar](150) NOT NULL,
	[PersonelTcKimlik] [nvarchar](15) NOT NULL,
	[PersonelDogumTarihi] [datetime] NOT NULL,
	[PersonelUyrukId] [int] NULL,
	[PersonelEposta] [nvarchar](250) NOT NULL,
	[PersonelTelefon] [nvarchar](20) NOT NULL,
	[PersonelPasaportNo] [nvarchar](20) NULL,
	[CinsiyetId] [int] NULL,
	[PersonelIseGirisTarihi] [datetime] NULL,
	[PersonelIstenCikisTarihi] [datetime] NULL,
	[PersonelSaatlikUcret] [decimal](8, 2) NOT NULL,
	[PersonelMaas] [decimal](8, 2) NOT NULL,
	[PersonelSicilNo] [nvarchar](50) NULL,
	[GorevId] [int] NOT NULL,
	[PersonelKategoriID] [int] NOT NULL,
	[PersonelEngelDurumu] [bit] NULL,
	[IlId] [int] NULL,
	[IlceId] [int] NULL,
	[UlkeId] [int] NULL,
	[PersonelAdres] [nvarchar](250) NULL,
	[PersonelAcilDurumKisiAd] [nvarchar](150) NULL,
	[PersonelAcilDurumKisiTelefon] [nvarchar](20) NULL,
	[ResimId] [int] NULL,
 CONSTRAINT [PK__tbl_Pers__0F0C57315943A5EA] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PersonelDiller]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PersonelDiller](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[DilId] [int] NOT NULL,
 CONSTRAINT [PK__tbl_Pers__0F0C573197EB96AB] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PersonelKategori]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PersonelKategori](
	[PersonelKategoriId] [int] IDENTITY(1,1) NOT NULL,
	[PersonelKategoriTip] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PersonelOda]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PersonelOda](
	[PersonelId] [int] NOT NULL,
	[OdaId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_PersonelOda] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC,
	[OdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PersonelVardiya]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PersonelVardiya](
	[VardiyaId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_PersonelVardiya] PRIMARY KEY CLUSTERED 
(
	[VardiyaId] ASC,
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PersonelYetki]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PersonelYetki](
	[PersonelID] [int] NOT NULL,
	[YetkiID] [int] NOT NULL,
	[PersonelYetkiEnSonGirisTarihi] [datetime] NOT NULL,
	[PersonelYetkiAciklama] [nvarchar](250) NULL,
	[PersonelYetkiAktifMi] [bit] NULL,
 CONSTRAINT [PK_tbl_PersonelYetki] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC,
	[YetkiID] ASC,
	[PersonelYetkiEnSonGirisTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Resimler]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Resimler](
	[ResimId] [int] IDENTITY(1,1) NOT NULL,
	[ResimUrlAdres] [nvarchar](250) NOT NULL,
	[ResimAciklama] [nvarchar](150) NULL,
	[ResimAktifOk] [bit] NOT NULL,
	[ResimAlternatifText] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Rezervasyon]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Rezervasyon](
	[RezervasyonId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[RezervasyonGecerlilikTarihi] [datetime] NOT NULL,
	[RezervasyonGecerlilikSonTarihi] [datetime] NOT NULL,
	[ErkenRezervasyonIndirim] [int] NULL,
	[RezervasyonTipiId] [int] NOT NULL,
	[RezervasyonAciklama] [nvarchar](400) NOT NULL,
	[RezervasyonIptalOk] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RezervasyonPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RezervasyonPersonel](
	[RezervasyonId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_RezervasyonPersonel] PRIMARY KEY CLUSTERED 
(
	[RezervasyonId] ASC,
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RezervasyonTip]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RezervasyonTip](
	[RezervasyonTipId] [int] IDENTITY(1,1) NOT NULL,
	[RezervasyonTanım] [nvarchar](150) NOT NULL,
	[RezervasyonAciklama] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Satis]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Satis](
	[SatisId] [int] IDENTITY(1,1) NOT NULL,
	[SatisOdaGirisTarihi] [datetime] NOT NULL,
	[SatisOdaCikisTarihi] [datetime] NULL,
	[SatisIndirim] [int] NULL,
	[KartId] [int] NULL,
	[OdaId] [int] NOT NULL,
	[OdaSatisDurum] [bit] NULL,
	[OdaSatisTutar] [decimal](8, 2) NULL,
	[OdaSatisKDV] [int] NULL,
	[OdaSatisOdemeTipiId] [int] NULL,
 CONSTRAINT [PK__tbl_Sati__80CB4CDF3E8FF9DD] PRIMARY KEY CLUSTERED 
(
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SatisPersonel]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SatisPersonel](
	[PersonelId] [int] NOT NULL,
	[SatisId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_SatisPersonel] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC,
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Ulke]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ulke](
	[UlkeId] [int] IDENTITY(1,1) NOT NULL,
	[UlkeAd] [nvarchar](75) NOT NULL,
	[UlkeKisaKod] [nvarchar](5) NULL,
	[UlkeTelefonKod] [nvarchar](5) NULL,
 CONSTRAINT [PK__tbl_Ulke__DDFD2CE2A6A914A0] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Vardiya]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Vardiya](
	[VardiyaId] [int] IDENTITY(1,1) NOT NULL,
	[VardiyaTipi] [nvarchar](150) NOT NULL,
	[VardiyaBaslangicSaati] [time](7) NOT NULL,
	[VardiyaBitisSaati] [time](7) NOT NULL,
 CONSTRAINT [PK__tbl_Vard__65D888849363BD7D] PRIMARY KEY CLUSTERED 
(
	[VardiyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Yetkiler]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Yetkiler](
	[YetkiId] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAd] [nvarchar](150) NOT NULL,
	[YetkiAciklama] [nvarchar](400) NULL,
	[YetkiGuvenlikKod] [nvarchar](250) NOT NULL,
	[YetkiAccessKod] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Cinsiyet] ON 

INSERT [dbo].[tbl_Cinsiyet] ([CinsiyetId], [CinsiyetAd], [CinsiyetAciklama]) VALUES (1, N'BAY', N'BAY')
INSERT [dbo].[tbl_Cinsiyet] ([CinsiyetId], [CinsiyetAd], [CinsiyetAciklama]) VALUES (2, N'BAYAN', N'BAYAN')
INSERT [dbo].[tbl_Cinsiyet] ([CinsiyetId], [CinsiyetAd], [CinsiyetAciklama]) VALUES (3, N'BELİRTMEK İSTEMİYOR', N'BELİRTMEK İSTEMİYOR')
SET IDENTITY_INSERT [dbo].[tbl_Cinsiyet] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Diller] ON 

INSERT [dbo].[tbl_Diller] ([DilId], [DilAd], [DilAciklama], [DilKod]) VALUES (1, N'Türkçe', N'Türkçe Dili', N'TR')
INSERT [dbo].[tbl_Diller] ([DilId], [DilAd], [DilAciklama], [DilKod]) VALUES (2, N'İngilizce', N'İngiliz Dili', N'EN')
INSERT [dbo].[tbl_Diller] ([DilId], [DilAd], [DilAciklama], [DilKod]) VALUES (3, N'Almanca', N'Alman Dili', N'GR')
SET IDENTITY_INSERT [dbo].[tbl_Diller] OFF
GO
INSERT [dbo].[tbl_DurumKategori] ([DurumKategoriId], [DurumKategoriAd], [DurumKategoriAciklama]) VALUES (1, N'Müsait', N'Oda Satış İçin Müsait')
INSERT [dbo].[tbl_DurumKategori] ([DurumKategoriId], [DurumKategoriAd], [DurumKategoriAciklama]) VALUES (2, N'Temizleniyor', N'Oda Temizleniyor')
INSERT [dbo].[tbl_DurumKategori] ([DurumKategoriId], [DurumKategoriAd], [DurumKategoriAciklama]) VALUES (3, N'Tadilat', N'Oda Tadilat da')
GO
SET IDENTITY_INSERT [dbo].[tbl_Gorevler] ON 

INSERT [dbo].[tbl_Gorevler] ([GorevId], [GorevAd], [GorevAciklama], [GorevIsTanimi]) VALUES (1, N'Admin', N'Admin', N'Admin')
INSERT [dbo].[tbl_Gorevler] ([GorevId], [GorevAd], [GorevAciklama], [GorevIsTanimi]) VALUES (2, N'Resepsiyon', N'Resepsiyon', N'Resepsiyon')
INSERT [dbo].[tbl_Gorevler] ([GorevId], [GorevAd], [GorevAciklama], [GorevIsTanimi]) VALUES (3, N'Muhasebe', N'Muhasebe', N'Muhasebe')
SET IDENTITY_INSERT [dbo].[tbl_Gorevler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Il] ON 

INSERT [dbo].[tbl_Il] ([IlId], [IlAd], [IlAciklama], [UlkeId]) VALUES (1, N'ADANA', N'il Adı', 1)
INSERT [dbo].[tbl_Il] ([IlId], [IlAd], [IlAciklama], [UlkeId]) VALUES (2, N'ADIYAMAN', N'il Adı', 1)
INSERT [dbo].[tbl_Il] ([IlId], [IlAd], [IlAciklama], [UlkeId]) VALUES (3, N'AFYON', N'il Adı', 1)
SET IDENTITY_INSERT [dbo].[tbl_Il] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Ilce] ON 

INSERT [dbo].[tbl_Ilce] ([IlceId], [IlceAd], [IlceAciklama], [IlId]) VALUES (1, N'SEYHAN', N'Aciklama', 1)
INSERT [dbo].[tbl_Ilce] ([IlceId], [IlceAd], [IlceAciklama], [IlId]) VALUES (2, N'CEYHAN', N'Aciklama', 1)
INSERT [dbo].[tbl_Ilce] ([IlceId], [IlceAd], [IlceAciklama], [IlId]) VALUES (3, N'FEKE', N'Aciklama', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Ilce] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kampanyalar] ON 

INSERT [dbo].[tbl_Kampanyalar] ([KampanyaId], [KampanyaBilgileri], [KampanyaIndirimOran], [KampanyaBaslangicZaman], [KampanyaBitisTarihi], [KampanyaTanim]) VALUES (2, N'Kış Bahçesi İndirimi', 25, CAST(N'2022-09-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), N'KışBahçesi')
INSERT [dbo].[tbl_Kampanyalar] ([KampanyaId], [KampanyaBilgileri], [KampanyaIndirimOran], [KampanyaBaslangicZaman], [KampanyaBitisTarihi], [KampanyaTanim]) VALUES (4, N'Yılbaşı Eğlencesi', 30, CAST(N'2022-12-01T00:00:00.000' AS DateTime), CAST(N'2022-12-31T00:00:00.000' AS DateTime), N'YeniYıl')
INSERT [dbo].[tbl_Kampanyalar] ([KampanyaId], [KampanyaBilgileri], [KampanyaIndirimOran], [KampanyaBaslangicZaman], [KampanyaBitisTarihi], [KampanyaTanim]) VALUES (5, N'AraTatil Kampanyası', 18, CAST(N'2023-01-15T00:00:00.000' AS DateTime), CAST(N'2023-02-15T00:00:00.000' AS DateTime), N'AraTatil')
SET IDENTITY_INSERT [dbo].[tbl_Kampanyalar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kullanici] ON 

INSERT [dbo].[tbl_Kullanici] ([KullaniciId], [KullaniciTipiId], [KullaniciAd], [KullaniciParola], [KullaniciEposta], [KullaniciEpostaOnayKod], [KullaniciEpostaOnay], [KullaniciKayıtTarihi], [KullaniciSonGirisTarihi], [DilId], [ResimId]) VALUES (3, 1, N'Admin', N'123456789', N'admin@gmail.com', N'1234', 1, CAST(N'2022-11-08T00:00:00.000' AS DateTime), CAST(N'2022-11-08T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[tbl_Kullanici] ([KullaniciId], [KullaniciTipiId], [KullaniciAd], [KullaniciParola], [KullaniciEposta], [KullaniciEpostaOnayKod], [KullaniciEpostaOnay], [KullaniciKayıtTarihi], [KullaniciSonGirisTarihi], [DilId], [ResimId]) VALUES (4, 2, N'Kadir', N'1234', N'kadir@gmail.com', N'1235', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-02-01T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[tbl_Kullanici] ([KullaniciId], [KullaniciTipiId], [KullaniciAd], [KullaniciParola], [KullaniciEposta], [KullaniciEpostaOnayKod], [KullaniciEpostaOnay], [KullaniciKayıtTarihi], [KullaniciSonGirisTarihi], [DilId], [ResimId]) VALUES (5, 2, N'Omer', N'456', N'Omer@gmail.com', N'1236', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2022-02-01T00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Kullanici] OFF
GO
INSERT [dbo].[tbl_KullaniciPersonel] ([PersonelId], [KullaniciId], [YetkiId]) VALUES (5, 3, 1)
INSERT [dbo].[tbl_KullaniciPersonel] ([PersonelId], [KullaniciId], [YetkiId]) VALUES (6, 4, 9)
INSERT [dbo].[tbl_KullaniciPersonel] ([PersonelId], [KullaniciId], [YetkiId]) VALUES (7, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_KullaniciTipi] ON 

INSERT [dbo].[tbl_KullaniciTipi] ([KullaniciTipiId], [KullaniciTipiTanim], [KullaniciTipiAciklama]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[tbl_KullaniciTipi] ([KullaniciTipiId], [KullaniciTipiTanim], [KullaniciTipiAciklama]) VALUES (2, N'Calisan', N'Calisan')
SET IDENTITY_INSERT [dbo].[tbl_KullaniciTipi] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Musteriler] ON 

INSERT [dbo].[tbl_Musteriler] ([MusteriID], [MusteriAd], [MusteriSoyad], [MusteriTCKimlik], [MusteriPasaportNo], [MusteriUnvan], [MusteriYetkiliAdSoyad], [MusteriVergiNo], [MusteriVergiDairesi], [MusteriTelefon], [MusteriPosta], [MusteriAdres], [IlID], [IlceID], [UlkeID], [MusteriAciklama], [MusteriKurumsalOK], [DilID]) VALUES (6, N'Talha', N'Demir', N'78965412300', N'123', N'Yazılımcı', N'Talha Demir', N'132', N'Kadıköy', N'555 999 88 77', N'talha@demir.com', N'Kadıköy', 34, 844, 1, N'Kurumsal Müşteri', 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Odalar] ON 

INSERT [dbo].[tbl_Odalar] ([OdaId], [OdaTipiId], [OdaFiyat], [OdaYatakTipi], [OdaMiniBarOk], [OdaKlimaOk], [OdaKurutmaOk], [OdaWifiOk], [OdaKasaOk], [OdaBalkonOk], [OdaTvOk], [OdaAciklama], [OdaEbatBoyut], [OdaNo], [OdaKat]) VALUES (1, 1, CAST(120.00 AS Decimal(8, 2)), N'Single', 1, 1, 0, 1, 0, 0, 1, N'Single Room', N'15', N'101', 1)
INSERT [dbo].[tbl_Odalar] ([OdaId], [OdaTipiId], [OdaFiyat], [OdaYatakTipi], [OdaMiniBarOk], [OdaKlimaOk], [OdaKurutmaOk], [OdaWifiOk], [OdaKasaOk], [OdaBalkonOk], [OdaTvOk], [OdaAciklama], [OdaEbatBoyut], [OdaNo], [OdaKat]) VALUES (2, 2, CAST(200.00 AS Decimal(8, 2)), N'Double', 1, 1, 1, 1, 0, 1, 1, N'Double', N'20', N'201', 2)
INSERT [dbo].[tbl_Odalar] ([OdaId], [OdaTipiId], [OdaFiyat], [OdaYatakTipi], [OdaMiniBarOk], [OdaKlimaOk], [OdaKurutmaOk], [OdaWifiOk], [OdaKasaOk], [OdaBalkonOk], [OdaTvOk], [OdaAciklama], [OdaEbatBoyut], [OdaNo], [OdaKat]) VALUES (3, 1, CAST(125.00 AS Decimal(8, 2)), N'Single', 1, 1, 0, 1, 0, 0, 1, N'Single', N'17', N'102', 1)
SET IDENTITY_INSERT [dbo].[tbl_Odalar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_OdaSatisTip] ON 

INSERT [dbo].[tbl_OdaSatisTip] ([OdaSatisTip], [OdaSatisTipAd], [OdaSatisTipAciklama]) VALUES (1, N'Tam Pansiyon', N'Tam Pansiyon Odalar')
INSERT [dbo].[tbl_OdaSatisTip] ([OdaSatisTip], [OdaSatisTipAd], [OdaSatisTipAciklama]) VALUES (2, N'All Inclusive', N'Herşey Dahil Odalar')
INSERT [dbo].[tbl_OdaSatisTip] ([OdaSatisTip], [OdaSatisTipAd], [OdaSatisTipAciklama]) VALUES (3, N'Oda- Kahvaltı', N'Sadece Oda Kahvaltı Dahil')
SET IDENTITY_INSERT [dbo].[tbl_OdaSatisTip] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_OdaTipi] ON 

INSERT [dbo].[tbl_OdaTipi] ([OdaTipiId], [OdaTipiAd], [OdaTipiAciklama]) VALUES (1, N'Tek Kişilik', N'Bir Küçük Yatak')
INSERT [dbo].[tbl_OdaTipi] ([OdaTipiId], [OdaTipiAd], [OdaTipiAciklama]) VALUES (2, N'Çift Kişilik', N'İki Küçük Yatak')
INSERT [dbo].[tbl_OdaTipi] ([OdaTipiId], [OdaTipiAd], [OdaTipiAciklama]) VALUES (3, N'Çift Kişilik', N'Bir Büyük Yatak')
SET IDENTITY_INSERT [dbo].[tbl_OdaTipi] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Personel] ON 

SET IDENTITY_INSERT [dbo].[tbl_Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_PersonelKategori] ON 

INSERT [dbo].[tbl_PersonelKategori] ([PersonelKategoriId], [PersonelKategoriTip], [Aciklama]) VALUES (1, N'Resepsiyon', N'Resepsiyon Görevlisi')
INSERT [dbo].[tbl_PersonelKategori] ([PersonelKategoriId], [PersonelKategoriTip], [Aciklama]) VALUES (2, N'Müdür', N'Otel Müdürü')
INSERT [dbo].[tbl_PersonelKategori] ([PersonelKategoriId], [PersonelKategoriTip], [Aciklama]) VALUES (3, N'Garson', N'Garson')
SET IDENTITY_INSERT [dbo].[tbl_PersonelKategori] OFF
GO
INSERT [dbo].[tbl_PersonelVardiya] ([VardiyaId], [PersonelId]) VALUES (1, 5)
INSERT [dbo].[tbl_PersonelVardiya] ([VardiyaId], [PersonelId]) VALUES (1, 8)
INSERT [dbo].[tbl_PersonelVardiya] ([VardiyaId], [PersonelId]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[tbl_Resimler] ON 

INSERT [dbo].[tbl_Resimler] ([ResimId], [ResimUrlAdres], [ResimAciklama], [ResimAktifOk], [ResimAlternatifText]) VALUES (1, N'abc', N'abc', 1, N'abc')
SET IDENTITY_INSERT [dbo].[tbl_Resimler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_RezervasyonTip] ON 

INSERT [dbo].[tbl_RezervasyonTip] ([RezervasyonTipId], [RezervasyonTanım], [RezervasyonAciklama]) VALUES (1, N'Çalışan Tarafından Yapıldı', N'Çalışan Tarafından Yapıldı')
SET IDENTITY_INSERT [dbo].[tbl_RezervasyonTip] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Satis] ON 

INSERT [dbo].[tbl_Satis] ([SatisId], [SatisOdaGirisTarihi], [SatisOdaCikisTarihi], [SatisIndirim], [KartId], [OdaId], [OdaSatisDurum], [OdaSatisTutar], [OdaSatisKDV], [OdaSatisOdemeTipiId]) VALUES (1, CAST(N'2022-11-20T00:00:00.000' AS DateTime), CAST(N'2022-11-27T00:00:00.000' AS DateTime), 0, NULL, 101, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Satis] ([SatisId], [SatisOdaGirisTarihi], [SatisOdaCikisTarihi], [SatisIndirim], [KartId], [OdaId], [OdaSatisDurum], [OdaSatisTutar], [OdaSatisKDV], [OdaSatisOdemeTipiId]) VALUES (2, CAST(N'2022-11-10T00:00:00.000' AS DateTime), CAST(N'2022-11-13T00:00:00.000' AS DateTime), 0, NULL, 201, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Satis] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Ulke] ON 

INSERT [dbo].[tbl_Ulke] ([UlkeId], [UlkeAd], [UlkeKisaKod], [UlkeTelefonKod]) VALUES (1, N'TÜRKİYE', N'TR', N'90')
INSERT [dbo].[tbl_Ulke] ([UlkeId], [UlkeAd], [UlkeKisaKod], [UlkeTelefonKod]) VALUES (2, N'İNGİLTERE', N'GB', N'44')
INSERT [dbo].[tbl_Ulke] ([UlkeId], [UlkeAd], [UlkeKisaKod], [UlkeTelefonKod]) VALUES (3, N'ALMANYA', N'DE', N'49')
SET IDENTITY_INSERT [dbo].[tbl_Ulke] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Vardiya] ON 

INSERT [dbo].[tbl_Vardiya] ([VardiyaId], [VardiyaTipi], [VardiyaBaslangicSaati], [VardiyaBitisSaati]) VALUES (1, N'SABAH', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[tbl_Vardiya] ([VardiyaId], [VardiyaTipi], [VardiyaBaslangicSaati], [VardiyaBitisSaati]) VALUES (2, N'AKŞAM', CAST(N'16:00:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[tbl_Vardiya] ([VardiyaId], [VardiyaTipi], [VardiyaBaslangicSaati], [VardiyaBitisSaati]) VALUES (3, N'GECE', CAST(N'00:00:00' AS Time), CAST(N'08:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[tbl_Vardiya] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Yetkiler] ON 

INSERT [dbo].[tbl_Yetkiler] ([YetkiId], [YetkiAd], [YetkiAciklama], [YetkiGuvenlikKod], [YetkiAccessKod]) VALUES (1, N'Yönetim', N'Yönetici Yetkileri', N'999', N'999')
INSERT [dbo].[tbl_Yetkiler] ([YetkiId], [YetkiAd], [YetkiAciklama], [YetkiGuvenlikKod], [YetkiAccessKod]) VALUES (2, N'Muhasebe', N'Muhasebe Yetkileri', N'277', N'277')
INSERT [dbo].[tbl_Yetkiler] ([YetkiId], [YetkiAd], [YetkiAciklama], [YetkiGuvenlikKod], [YetkiAccessKod]) VALUES (3, N'Güvenlik', N'Güvenlik Yetkileri', N'377', N'377')
SET IDENTITY_INSERT [dbo].[tbl_Yetkiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbl_Musteriler]    Script Date: 18.11.2022 19:02:26 ******/
ALTER TABLE [dbo].[tbl_Musteriler] ADD  CONSTRAINT [IX_tbl_Musteriler] UNIQUE NONCLUSTERED 
(
	[MusteriTCKimlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbl_Personel]    Script Date: 18.11.2022 19:02:26 ******/
ALTER TABLE [dbo].[tbl_Personel] ADD  CONSTRAINT [IX_tbl_Personel] UNIQUE NONCLUSTERED 
(
	[PersonelTcKimlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Il]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Il_tbl_Ulke] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[tbl_Ulke] ([UlkeId])
GO
ALTER TABLE [dbo].[tbl_Il] CHECK CONSTRAINT [FK_tbl_Il_tbl_Ulke]
GO
ALTER TABLE [dbo].[tbl_Ilce]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Ilce_tbl_Il] FOREIGN KEY([IlId])
REFERENCES [dbo].[tbl_Il] ([IlId])
GO
ALTER TABLE [dbo].[tbl_Ilce] CHECK CONSTRAINT [FK_tbl_Ilce_tbl_Il]
GO
ALTER TABLE [dbo].[tbl_KampanyaOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KampanyaOda_tbl_Kampanyalar] FOREIGN KEY([KampanyaId])
REFERENCES [dbo].[tbl_Kampanyalar] ([KampanyaId])
GO
ALTER TABLE [dbo].[tbl_KampanyaOda] CHECK CONSTRAINT [FK_tbl_KampanyaOda_tbl_Kampanyalar]
GO
ALTER TABLE [dbo].[tbl_KampanyaOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KampanyaOda_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_KampanyaOda] CHECK CONSTRAINT [FK_tbl_KampanyaOda_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_KartBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KartBilgileri_tbl_Misafir] FOREIGN KEY([MisafirId])
REFERENCES [dbo].[tbl_Misafir] ([MisafirId])
GO
ALTER TABLE [dbo].[tbl_KartBilgileri] CHECK CONSTRAINT [FK_tbl_KartBilgileri_tbl_Misafir]
GO
ALTER TABLE [dbo].[tbl_KartBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KartBilgileri_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_KartBilgileri] CHECK CONSTRAINT [FK_tbl_KartBilgileri_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_KartBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KartBilgileri_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_KartBilgileri] CHECK CONSTRAINT [FK_tbl_KartBilgileri_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kullanici_tbl_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[tbl_Diller] ([DilId])
GO
ALTER TABLE [dbo].[tbl_Kullanici] CHECK CONSTRAINT [FK_tbl_Kullanici_tbl_Diller]
GO
ALTER TABLE [dbo].[tbl_Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kullanici_tbl_KullaniciTipi] FOREIGN KEY([KullaniciTipiId])
REFERENCES [dbo].[tbl_KullaniciTipi] ([KullaniciTipiId])
GO
ALTER TABLE [dbo].[tbl_Kullanici] CHECK CONSTRAINT [FK_tbl_Kullanici_tbl_KullaniciTipi]
GO
ALTER TABLE [dbo].[tbl_Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kullanici_tbl_Resimler] FOREIGN KEY([ResimId])
REFERENCES [dbo].[tbl_Resimler] ([ResimId])
GO
ALTER TABLE [dbo].[tbl_Kullanici] CHECK CONSTRAINT [FK_tbl_Kullanici_tbl_Resimler]
GO
ALTER TABLE [dbo].[tbl_KullaniciMusteri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KullaniciMusteri_tbl_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[tbl_Kullanici] ([KullaniciId])
GO
ALTER TABLE [dbo].[tbl_KullaniciMusteri] CHECK CONSTRAINT [FK_tbl_KullaniciMusteri_tbl_Kullanici]
GO
ALTER TABLE [dbo].[tbl_KullaniciMusteri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KullaniciMusteri_tbl_Yetkiler] FOREIGN KEY([YetkiId])
REFERENCES [dbo].[tbl_Yetkiler] ([YetkiId])
GO
ALTER TABLE [dbo].[tbl_KullaniciMusteri] CHECK CONSTRAINT [FK_tbl_KullaniciMusteri_tbl_Yetkiler]
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[tbl_Kullanici] ([KullaniciId])
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel] CHECK CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Kullanici]
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel] CHECK CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Yetkiler] FOREIGN KEY([YetkiId])
REFERENCES [dbo].[tbl_Yetkiler] ([YetkiId])
GO
ALTER TABLE [dbo].[tbl_KullaniciPersonel] CHECK CONSTRAINT [FK_tbl_KullaniciPersonel_tbl_Yetkiler]
GO
ALTER TABLE [dbo].[tbl_MesaiPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MesaiPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_MesaiPersonel] CHECK CONSTRAINT [FK_tbl_MesaiPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Cinsiyet] FOREIGN KEY([CinsiyetId])
REFERENCES [dbo].[tbl_Cinsiyet] ([CinsiyetId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Cinsiyet]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Diller] FOREIGN KEY([dilId])
REFERENCES [dbo].[tbl_Diller] ([DilId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Diller]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Il] FOREIGN KEY([IlId])
REFERENCES [dbo].[tbl_Il] ([IlId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Il]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Ilce] FOREIGN KEY([IlceId])
REFERENCES [dbo].[tbl_Ilce] ([IlceId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Ilce]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Ulke] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[tbl_Ulke] ([UlkeId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Ulke]
GO
ALTER TABLE [dbo].[tbl_Misafir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Misafir_tbl_Ulke1] FOREIGN KEY([MisafirUyrukId])
REFERENCES [dbo].[tbl_Ulke] ([UlkeId])
GO
ALTER TABLE [dbo].[tbl_Misafir] CHECK CONSTRAINT [FK_tbl_Misafir_tbl_Ulke1]
GO
ALTER TABLE [dbo].[tbl_MisafirOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MisafirOda_tbl_Misafir] FOREIGN KEY([MisafirId])
REFERENCES [dbo].[tbl_Misafir] ([MisafirId])
GO
ALTER TABLE [dbo].[tbl_MisafirOda] CHECK CONSTRAINT [FK_tbl_MisafirOda_tbl_Misafir]
GO
ALTER TABLE [dbo].[tbl_MisafirOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MisafirOda_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_MisafirOda] CHECK CONSTRAINT [FK_tbl_MisafirOda_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_MisafirOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MisafirOda_tbl_Satis] FOREIGN KEY([SatisId])
REFERENCES [dbo].[tbl_Satis] ([SatisId])
GO
ALTER TABLE [dbo].[tbl_MisafirOda] CHECK CONSTRAINT [FK_tbl_MisafirOda_tbl_Satis]
GO
ALTER TABLE [dbo].[tbl_MisafirPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MisafirPersonel_tbl_Misafir] FOREIGN KEY([MisafirId])
REFERENCES [dbo].[tbl_Misafir] ([MisafirId])
GO
ALTER TABLE [dbo].[tbl_MisafirPersonel] CHECK CONSTRAINT [FK_tbl_MisafirPersonel_tbl_Misafir]
GO
ALTER TABLE [dbo].[tbl_MisafirPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MisafirPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_MisafirPersonel] CHECK CONSTRAINT [FK_tbl_MisafirPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Musteriler_tbl_Diller] FOREIGN KEY([DilID])
REFERENCES [dbo].[tbl_Diller] ([DilId])
GO
ALTER TABLE [dbo].[tbl_Musteriler] CHECK CONSTRAINT [FK_tbl_Musteriler_tbl_Diller]
GO
ALTER TABLE [dbo].[tbl_Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Musteriler_tbl_Il] FOREIGN KEY([IlID])
REFERENCES [dbo].[tbl_Il] ([IlId])
GO
ALTER TABLE [dbo].[tbl_Musteriler] CHECK CONSTRAINT [FK_tbl_Musteriler_tbl_Il]
GO
ALTER TABLE [dbo].[tbl_Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Musteriler_tbl_Ilce] FOREIGN KEY([IlceID])
REFERENCES [dbo].[tbl_Ilce] ([IlceId])
GO
ALTER TABLE [dbo].[tbl_Musteriler] CHECK CONSTRAINT [FK_tbl_Musteriler_tbl_Ilce]
GO
ALTER TABLE [dbo].[tbl_Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Musteriler_tbl_Ulke] FOREIGN KEY([UlkeID])
REFERENCES [dbo].[tbl_Ulke] ([UlkeId])
GO
ALTER TABLE [dbo].[tbl_Musteriler] CHECK CONSTRAINT [FK_tbl_Musteriler_tbl_Ulke]
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Misafir] FOREIGN KEY([MisafirId])
REFERENCES [dbo].[tbl_Misafir] ([MisafirId])
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis] CHECK CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Misafir]
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[tbl_Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis] CHECK CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Musteriler]
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Satis] FOREIGN KEY([SatisId])
REFERENCES [dbo].[tbl_Satis] ([SatisId])
GO
ALTER TABLE [dbo].[tbl_MusteriMisafirsatis] CHECK CONSTRAINT [FK_tbl_MusteriMisafirsatis_tbl_Satis]
GO
ALTER TABLE [dbo].[tbl_MusteriPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriPersonel_tbl_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[tbl_Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[tbl_MusteriPersonel] CHECK CONSTRAINT [FK_tbl_MusteriPersonel_tbl_Musteriler]
GO
ALTER TABLE [dbo].[tbl_MusteriPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_MusteriPersonel] CHECK CONSTRAINT [FK_tbl_MusteriPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Misafir] FOREIGN KEY([MisafirId])
REFERENCES [dbo].[tbl_Misafir] ([MisafirId])
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon] CHECK CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Misafir]
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon] CHECK CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Rezervasyon] FOREIGN KEY([RezervasyonId])
REFERENCES [dbo].[tbl_Rezervasyon] ([RezervasyonId])
GO
ALTER TABLE [dbo].[tbl_MusteriRezervasyon] CHECK CONSTRAINT [FK_tbl_MusteriRezervasyon_tbl_Rezervasyon]
GO
ALTER TABLE [dbo].[tbl_OdaDurum]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OdaDurum_tbl_DurumKategori] FOREIGN KEY([DurumKategoriId])
REFERENCES [dbo].[tbl_DurumKategori] ([DurumKategoriId])
GO
ALTER TABLE [dbo].[tbl_OdaDurum] CHECK CONSTRAINT [FK_tbl_OdaDurum_tbl_DurumKategori]
GO
ALTER TABLE [dbo].[tbl_OdaDurum]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OdaDurum_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_OdaDurum] CHECK CONSTRAINT [FK_tbl_OdaDurum_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_Odalar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Odalar_tbl_OdaTipi] FOREIGN KEY([OdaTipiId])
REFERENCES [dbo].[tbl_OdaTipi] ([OdaTipiId])
GO
ALTER TABLE [dbo].[tbl_Odalar] CHECK CONSTRAINT [FK_tbl_Odalar_tbl_OdaTipi]
GO
ALTER TABLE [dbo].[tbl_OdaResimler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OdaResimler_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_OdaResimler] CHECK CONSTRAINT [FK_tbl_OdaResimler_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_OdaResimler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OdaResimler_tbl_Resimler] FOREIGN KEY([ResimId])
REFERENCES [dbo].[tbl_Resimler] ([ResimId])
GO
ALTER TABLE [dbo].[tbl_OdaResimler] CHECK CONSTRAINT [FK_tbl_OdaResimler_tbl_Resimler]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Cinsiyet] FOREIGN KEY([CinsiyetId])
REFERENCES [dbo].[tbl_Cinsiyet] ([CinsiyetId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Cinsiyet]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Gorevler] FOREIGN KEY([GorevId])
REFERENCES [dbo].[tbl_Gorevler] ([GorevId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Gorevler]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Il] FOREIGN KEY([IlId])
REFERENCES [dbo].[tbl_Il] ([IlId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Il]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Ilce] FOREIGN KEY([IlceId])
REFERENCES [dbo].[tbl_Ilce] ([IlceId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Ilce]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_PersonelKategori] FOREIGN KEY([PersonelKategoriID])
REFERENCES [dbo].[tbl_PersonelKategori] ([PersonelKategoriId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_PersonelKategori]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Resimler] FOREIGN KEY([ResimId])
REFERENCES [dbo].[tbl_Resimler] ([ResimId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Resimler]
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Personel_tbl_Ulke] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[tbl_Ulke] ([UlkeId])
GO
ALTER TABLE [dbo].[tbl_Personel] CHECK CONSTRAINT [FK_tbl_Personel_tbl_Ulke]
GO
ALTER TABLE [dbo].[tbl_PersonelDiller]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelDiller_tbl_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[tbl_Diller] ([DilId])
GO
ALTER TABLE [dbo].[tbl_PersonelDiller] CHECK CONSTRAINT [FK_tbl_PersonelDiller_tbl_Diller]
GO
ALTER TABLE [dbo].[tbl_PersonelDiller]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelDiller_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_PersonelDiller] CHECK CONSTRAINT [FK_tbl_PersonelDiller_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_PersonelOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelOda_tbl_Odalar] FOREIGN KEY([OdaId])
REFERENCES [dbo].[tbl_Odalar] ([OdaId])
GO
ALTER TABLE [dbo].[tbl_PersonelOda] CHECK CONSTRAINT [FK_tbl_PersonelOda_tbl_Odalar]
GO
ALTER TABLE [dbo].[tbl_PersonelOda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelOda_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_PersonelOda] CHECK CONSTRAINT [FK_tbl_PersonelOda_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_PersonelVardiya]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelVardiya_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_PersonelVardiya] CHECK CONSTRAINT [FK_tbl_PersonelVardiya_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_PersonelVardiya]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelVardiya_tbl_Vardiya] FOREIGN KEY([VardiyaId])
REFERENCES [dbo].[tbl_Vardiya] ([VardiyaId])
GO
ALTER TABLE [dbo].[tbl_PersonelVardiya] CHECK CONSTRAINT [FK_tbl_PersonelVardiya_tbl_Vardiya]
GO
ALTER TABLE [dbo].[tbl_PersonelYetki]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelYetki_tbl_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_PersonelYetki] CHECK CONSTRAINT [FK_tbl_PersonelYetki_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_PersonelYetki]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PersonelYetki_tbl_Yetkiler] FOREIGN KEY([YetkiID])
REFERENCES [dbo].[tbl_Yetkiler] ([YetkiId])
GO
ALTER TABLE [dbo].[tbl_PersonelYetki] CHECK CONSTRAINT [FK_tbl_PersonelYetki_tbl_Yetkiler]
GO
ALTER TABLE [dbo].[tbl_Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Rezervasyon_tbl_RezervasyonTip] FOREIGN KEY([RezervasyonTipiId])
REFERENCES [dbo].[tbl_RezervasyonTip] ([RezervasyonTipId])
GO
ALTER TABLE [dbo].[tbl_Rezervasyon] CHECK CONSTRAINT [FK_tbl_Rezervasyon_tbl_RezervasyonTip]
GO
ALTER TABLE [dbo].[tbl_RezervasyonPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_RezervasyonPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_RezervasyonPersonel] CHECK CONSTRAINT [FK_tbl_RezervasyonPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_RezervasyonPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_RezervasyonPersonel_tbl_Rezervasyon] FOREIGN KEY([RezervasyonId])
REFERENCES [dbo].[tbl_Rezervasyon] ([RezervasyonId])
GO
ALTER TABLE [dbo].[tbl_RezervasyonPersonel] CHECK CONSTRAINT [FK_tbl_RezervasyonPersonel_tbl_Rezervasyon]
GO
ALTER TABLE [dbo].[tbl_Satis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Satis_tbl_OdaSatisTip] FOREIGN KEY([OdaSatisOdemeTipiId])
REFERENCES [dbo].[tbl_OdaSatisTip] ([OdaSatisTip])
GO
ALTER TABLE [dbo].[tbl_Satis] CHECK CONSTRAINT [FK_tbl_Satis_tbl_OdaSatisTip]
GO
ALTER TABLE [dbo].[tbl_SatisPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SatisPersonel_tbl_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[tbl_Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[tbl_SatisPersonel] CHECK CONSTRAINT [FK_tbl_SatisPersonel_tbl_Personel]
GO
ALTER TABLE [dbo].[tbl_SatisPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SatisPersonel_tbl_Satis] FOREIGN KEY([SatisId])
REFERENCES [dbo].[tbl_Satis] ([SatisId])
GO
ALTER TABLE [dbo].[tbl_SatisPersonel] CHECK CONSTRAINT [FK_tbl_SatisPersonel_tbl_Satis]
GO
/****** Object:  StoredProcedure [dbo].[sp_KampanyaEkle]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_KampanyaEkle]
(
@kampanyaAd nvarchar(200),
@indirimorani int,
@ilktarih datetime,
@ikincitarih datetime,
@aciklama nvarchar(200)
)
as 
begin

insert into tbl_Kampanyalar ([KampanyaBilgileri], [KampanyaIndirimOran], [KampanyaBaslangicZaman], [KampanyaBitisTarihi], [KampanyaTanim])
values (@kampanyaAd,@indirimorani,@ilktarih,@ikincitarih,@aciklama)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_KampanyaGetir]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_KampanyaGetir] --KAMPANYA GÜNCELLE
(
@kampanyaAd nvarchar(200),
@indirimorani int,
@ilktarih datetime,
@ikincitarih datetime,
@aciklama nvarchar(200)
)
as 
begin

update tbl_Kampanyalar set KampanyaBilgileri=@kampanyaAd,KampanyaIndirimOran=@indirimorani,KampanyaBaslangicZaman=@ilktarih,KampanyaBitisTarihi=@ikincitarih,KampanyaTanim=@aciklama where KampanyaBilgileri=@kampanyaAd

end
GO
/****** Object:  StoredProcedure [dbo].[sp_KampanyaGuncelle]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_KampanyaGuncelle] --KAMPANYA GÜNCELLE
(
@kampanyaAd nvarchar(200),
@indirimorani int,
@ilktarih datetime,
@ikincitarih datetime,
@aciklama nvarchar(200)
)
as 
begin

update tbl_Kampanyalar set KampanyaBilgileri=@kampanyaAd,KampanyaIndirimOran=@indirimorani,KampanyaBaslangicZaman=@ilktarih,KampanyaBitisTarihi=@ikincitarih,KampanyaTanim=@aciklama where KampanyaBilgileri=@kampanyaAd

end
GO
/****** Object:  StoredProcedure [dbo].[sp_musteri_Ekle]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_musteri_Ekle]    ------MUSTERİ KAYIT
(
  @MusteriAd nvarchar(150)
, @MusteriSoyad nvarchar(150)
, @MusteriTCKimlik nvarchar(20)
, @MusteriPasaportNo nvarchar(20)
, @MusteriUnvan nvarchar(150)
, @MusteriYetkiliAdSoyad nvarchar(150)
, @MusteriVergiNo nvarchar(20)
, @MusteriVergiDairesi nvarchar(50)
, @MusteriTelefon nvarchar(20)
, @MusteriPosta nvarchar(250)
, @UlkeID int
, @IlID int 
, @IlceID int
, @MusteriAdres nvarchar(400)
, @MusteriKurumsalOK bit
, @DilID int
, @MusteriAciklama nvarchar(400)

)
as
begin

insert into tbl_Musteriler 
values 
(@MusteriAd , @MusteriSoyad , @MusteriTCKimlik , @MusteriPasaportNo , @MusteriUnvan , @MusteriYetkiliAdSoyad, @MusteriVergiNo , @MusteriVergiDairesi, @MusteriTelefon 
, @MusteriPosta, @MusteriAdres,@IlID, @IlceID , @UlkeID, @MusteriAciklama,  @MusteriKurumsalOK , @DilID)


end
GO
/****** Object:  StoredProcedure [dbo].[sp_musteri_Guncelle]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_musteri_Guncelle]    ------MUSTERİ GUNCELLE
(
  @MusteriAd nvarchar(150)
, @MusteriSoyad nvarchar(150)
, @MusteriTCKimlik nvarchar(20)
, @MusteriPasaportNo nvarchar(20)
, @MusteriUnvan nvarchar(150)
, @MusteriYetkiliAdSoyad nvarchar(150)
, @MusteriVergiNo nvarchar(20)
, @MusteriVergiDairesi nvarchar(50)
, @MusteriTelefon nvarchar(20)
, @MusteriPosta nvarchar(250)
, @UlkeID int
, @IlID int 
, @IlceID int
, @MusteriAdres nvarchar(400)
, @MusteriKurumsalOK bit
, @DilID int
, @MusteriAciklama nvarchar(400)

)
as
begin

update tbl_Musteriler set 
[MusteriAd]=@MusteriAd , [MusteriSoyad]=@MusteriSoyad , [MusteriTCKimlik]=@MusteriTCKimlik , [MusteriPasaportNo]=@MusteriPasaportNo , [MusteriUnvan]=@MusteriUnvan ,
[MusteriYetkiliAdSoyad]=@MusteriYetkiliAdSoyad, [MusteriVergiNo]=@MusteriVergiNo , [MusteriVergiDairesi]=@MusteriVergiDairesi, [MusteriTelefon]=@MusteriTelefon 
, [MusteriPosta]=@MusteriPosta, [MusteriAdres]=@MusteriAdres,[IlID]=@IlID, [IlceID]=@IlceID , [UlkeID]=@UlkeID, [MusteriAciklama]=@MusteriAciklama, 
[MusteriKurumsalOK]=@MusteriKurumsalOK , [DilID]=@DilID where MusteriTCKimlik=@MusteriTCKimlik


end
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonelGetir]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_PersonelGetir]
as
begin

select p.PersonelAd,p.PersonelSoyad,p.PersonelTcKimlik,p.PersonelTelefon,p.PersonelSaatlikUcret,p.PersonelMaas,g.GorevAd,va.VardiyaTipi,va.VardiyaBaslangicSaati,va.VardiyaBitisSaati from tbl_Personel as p
join tbl_Gorevler as g on p.GorevId=g.GorevId
join tbl_PersonelVardiya as pv on pv.PersonelId=p.PersonelId
join tbl_Vardiya as va on pv.VardiyaId=va.VardiyaId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Personelkayit]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Personelkayit]
(

@PersonelAd nvarchar(100)
,@PersonelSoyad nvarchar(100)
,@PersonelTcKimlik nvarchar(100)
,@PersonelDogumTarihi datetime
,@PersonelEposta nvarchar(100)
,@PersonelTelefon nvarchar(100)
,@PersonelIseGirisTarihi nvarchar(100)
,@PersonelSaatlikUcret decimal(8, 2)
,@PersonelMaas decimal(8, 2)
,@PersonelSicilNo nvarchar(100)
,@GorevId int
,@PersonelKategoriID int
,@PersonelAdres nvarchar(100)
,@vardiyaId int
,@kullaniciad nvarchar(100)
,@sifre nvarchar(100)
,@yetkiid int
)
as
begin
declare @personelidson int
declare @kullaniciidson int
insert into tbl_Personel([PersonelAd],[PersonelSoyad],[PersonelTcKimlik],[PersonelDogumTarihi],[PersonelEposta],[PersonelTelefon],[PersonelIseGirisTarihi],[PersonelSaatlikUcret],[PersonelMaas],[PersonelSicilNo],[GorevId],[PersonelKategoriID],[PersonelAdres])
values (@PersonelAd,@PersonelSoyad,@PersonelTcKimlik,@PersonelDogumTarihi,@PersonelEposta,@PersonelTelefon,@PersonelIseGirisTarihi,@PersonelSaatlikUcret,@PersonelMaas,@PersonelSicilNo,@GorevId,@PersonelKategoriID,@PersonelAdres)

set @personelidson = @@identity

insert into tbl_PersonelVardiya ([VardiyaId], [PersonelId]) values (@vardiyaId,@personelidson)
insert into tbl_Kullanici (KullaniciTipiId, KullaniciAd, KullaniciParola,KullaniciEposta) values (2,@kullaniciad,@sifre,@PersonelEposta)
set @kullaniciidson=@@identity
insert into tbl_KullaniciPersonel ([PersonelId], [KullaniciId], [YetkiId]) values (@personelidson,@kullaniciidson,@yetkiid)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_TarihlerArasiDurum]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TarihlerArasiDurum]
(
@ilktarih datetime,
@ikincitarih datetime
)
as 
begin

select OdaId from tbl_Satis
where (SatisOdaGirisTarihi between @ilktarih and @ikincitarih) or (SatisOdaCikisTarihi between @ilktarih and @ikincitarih) or
(SatisOdaGirisTarihi<@ilktarih and SatisOdaCikisTarihi>@ilktarih) or (SatisOdaGirisTarihi<@ikincitarih and SatisOdaCikisTarihi>@ikincitarih)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TCyeGoreGetir]    Script Date: 18.11.2022 19:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TCyeGoreGetir]
(
@tcno nvarchar(20)
)
as
begin
select p.[PersonelAd],p.[PersonelSoyad],p.[PersonelTcKimlik],p.[PersonelDogumTarihi],p.[PersonelEposta],p.[PersonelTelefon],p.[PersonelSaatlikUcret],p.[PersonelMaas],p.[PersonelSicilNo],g.[GorevId],p.[PersonelKategoriID],p.[PersonelAdres],va.VardiyaId,kul.KullaniciId,kul.KullaniciParola,yet.YetkiId from tbl_Personel as p
join tbl_Gorevler as g on p.GorevId=g.GorevId
join tbl_PersonelVardiya as pv on pv.PersonelId=p.PersonelId
join tbl_Vardiya as va on pv.VardiyaId=va.VardiyaId
join tbl_KullaniciPersonel as kp on kp.PersonelId=p.PersonelId
join tbl_Kullanici as kul on kul.KullaniciId=kp.KullaniciId
join tbl_PersonelYetki as py on py.PersonelID=p.PersonelId
join tbl_Yetkiler as yet on yet.YetkiId=py.YetkiID
where p.PersonelTcKimlik=@tcno
end
GO
USE [master]
GO
